In [1]:
import pandas as pd

sql = """
    SELECT *
    FROM `feast-oss.fraud_tutorial.transactions`
"""

# Run a Standard SQL query using the environment's default project
transactions = pd.read_gbq(sql, dialect='standard')

latest_time = transactions['timestamp'].max()

Downloading: 100%|██████████| 100000/100000 [00:05<00:00, 19643.91rows/s]

In [2]:
from datetime import datetime
datediff = datetime.now() - latest_time.replace(tzinfo=None)

transactions['timestamp'] = transactions['timestamp'] + datediff

,src_account,amount,dest_account,is_fraud,timestamp
0,0001mg,3012.44,ydnwlr,0,2021-06-16 12:52:25.074517+00:00
1,0001mg,4431.82,oijv7z,0,2021-06-13 11:47:21.535700+00:00
2,0001mg,3037.60,a6mrvu,0,2021-06-11 20:51:21.873945+00:00
3,0001mg,6322.63,bmihen,0,2021-06-11 13:46:35.364700+00:00
4,0001mg,9981.82,tk53lu,0,2021-06-08 23:31:54.140277+00:00
...,...,...,...,...,...
99995,zyvtf8,3609.00,u5s54p,1,2021-06-12 21:09:53.775954+00:00
99996,zz0sgh,6060.71,c97pdy,1,2021-06-04 11:50:31.591834+00:00
99997,zz0sgh,5543.38,dt60g4,1,2021-06-03 21:48:26.560339+00:00
99998,zzrx9o,5031.12,9vo8j7,1,2021-06-14 12:00:42.439961+00:00
99999,zzx65l,9031.58,p6w6un,1,2021-06-11 13:13:24.071963+00:00

In [3]:
transactions.to_gbq(destination_table="fraud_tutorial.transactions", project_id="feast-oss", if_exists='replace')

1it [00:11, 11.66s/it]

In [4]:
import pandas as pd
from datetime import datetime, timedelta

sql = """
    SELECT *
    FROM `feast-oss.fraud_tutorial.user_account_features`
"""

user_features = pd.read_gbq(sql, dialect='standard')

user_features['feature_timestamp'] = datetime.now() - timedelta(days=7)

user_features

Downloading: 100%|██████████| 9944/9944 [00:00<00:00, 19073.20rows/s]

,user_id,credit_score,account_age_days,user_has_2fa_installed,feature_timestamp
0,41sozr,512,700,0,2021-06-09 19:13:46.199693
1,h8nr8u,512,157,0,2021-06-09 19:13:46.199693
2,shid6v,512,509,0,2021-06-09 19:13:46.199693
3,rbcoqw,512,742,0,2021-06-09 19:13:46.199693
4,hew545,512,327,0,2021-06-09 19:13:46.199693
...,...,...,...,...,...
9939,nsgtkp,767,891,1,2021-06-09 19:13:46.199693
9940,4dlidj,767,855,1,2021-06-09 19:13:46.199693
9941,1z87hk,767,271,1,2021-06-09 19:13:46.199693
9942,ffqerm,767,829,1,2021-06-09 19:13:46.199693
9943,elz674,767,783,1,2021-06-09 19:13:46.199693

In [5]:
user_features.to_gbq(destination_table="fraud_tutorial.user_account_features", project_id="feast-oss", if_exists='replace')

1it [00:02,  2.60s/it]

In [7]:
import pandas as pd

sql = """
    SELECT *
    FROM `feast-oss.fraud_tutorial.user_has_fraudulent_transactions`
"""

# Run a Standard SQL query using the environment's default project
user_has_fraud = pd.read_gbq(sql, dialect='standard')

latest_time = user_has_fraud['feature_timestamp'].max()

datediff = datetime.now() - latest_time.replace(tzinfo=None)

user_has_fraud['feature_timestamp'] = user_has_fraud['feature_timestamp'] + datediff

Downloading: 100%|██████████| 69608/69608 [00:02<00:00, 29059.20rows/s]

,user_id,user_has_fraudulent_transactions_7d,feature_timestamp
0,0001mg,0.0,2021-06-11 12:56:59.739937+00:00
1,00c8mc,0.0,2021-06-11 12:56:59.739937+00:00
2,00gmwi,0.0,2021-06-11 12:56:59.739937+00:00
3,00mbm9,0.0,2021-06-11 12:56:59.739937+00:00
4,00wjqi,0.0,2021-06-11 12:56:59.739937+00:00
...,...,...,...
69603,54r2jp,1.0,2021-06-17 12:56:59.739937+00:00
69604,phvjnv,1.0,2021-06-17 12:56:59.739937+00:00
69605,vr9qpk,1.0,2021-06-17 12:56:59.739937+00:00
69606,wija9d,1.0,2021-06-17 12:56:59.739937+00:00
69607,yvkh8e,1.0,2021-06-17 12:56:59.739937+00:00

In [8]:
user_has_fraud.to_gbq(destination_table="fraud_tutorial.user_has_fraudulent_transactions", project_id="feast-oss", if_exists='replace')

1it [00:05,  5.72s/it]